<div class="homepage-section-2-wrapper" id="GG">
    <div class="page-width">
      <div class="section-left">
  
    <img src="{{image}}">
       
    <img src="{{image2}}">
       
      </div>
        <div class="section-right">
      <!-- <h2 class="site--heading"><p>We are<br><strong>NearestHealth</strong></p></h2>  
      <div class="site--text"><p>We are focused on helping you reach your optimal immune health, naturally. Understanding root causes of poor immune health is the start to feeling better.<br><br>We start with a free, online Immune Assessment which is the most comprehensive immune review out there. That then helps guide which diagnostic tests and supplements you’ll want to take, provide more information on potential issues and enable us to connect you with a top functional medicine doctor.</p><p><strong>Start your immune health journey today!</strong></p></div>
      <a class="site--btn" href="/pages/assessment">GET STARTED</a> -->
      <heading [heading]="heading" [headingType]="'h2'"></heading>                
      <div class="site--text" [innerHTML]="description"></div>
      <a siteButton="dark" class="site--btn" routerLink="{{btnLink}}">{{btnText}}</a>
    </div>
    </div>
  </div>