<section class="site-banner">
    <div class="page-width">
        <div>
            <div class="banner-content">

                <heading [heading]="'Online Doctor'" [headingType]="'h2'"></heading>   
                <heading ngClass="site--text" [heading]="'<strong>Meet with an Online Functional Medicine Doctor.</strong>
                                Now that you have completed the Immune Assessment, the next step is to schedule time to talk with an experienced functional medicine practitioner from your phone or computer. We only partner with the most 
                                experienced and highly rated doctors who provide the highest level of care.'"
                                [headingType]="'p'"
                                
                                ></heading>   

               
              </div>
            
        </div>
        <img src="./assets/images/man.png">
    </div>
</section>
